<div [ngSwitch]="slist">
<div class="menu">
    <span class="menu-item" [routerLink]='"/home"'>Home</span><span class="menu-item" [routerLink]='"/home"' [fragment]='"about"'>About</span><span *ngSwitchCase="false" [routerLink]='"/blog"' class="menu-item">Blog list</span><span class="menu-item">Search</span>
</div>

<!--If you put *ngSwitchCase as [ngSwitchCase], the page will not render.-->
<div *ngSwitchCase="false" class="blog-head">
    <div class="blog-bg">
        <div class="article-general">
            <h1><br>{{ article.themeText }}</h1>
            <h4>{{ article.author }} - {{ article.date | date:'short' }} </h4>
            <p class="article-summary"> {{ article.summary }} </p>
            <img src="{{article.themePic}}" class="aticle-theme-pic"><br><span class="article-theme-attr">{{ article.attrPic }}</span><br><br>
            <div class="mat-body-2 article" [innerHTML]="article.article">{{ imgStyle() }}</div>
        </div>
    </div>
</div>
<br>
<div *ngSwitchCase="true" class="blog-carousel-space">
    <mat-card *ngFor="let articleL of articleList" class="blog-card">
        <mat-card-header>
            <mat-card-title [routerLink]='"/blog/" + articleL.id' class="blog-link" matTooltip={{articleL.themeText}}>{{ articleL.themeText }}</mat-card-title>
            <mat-card-subtitle>{{ articleL.summary }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{articleL.themePic}} alt="" class="blog-card-image">
        <mat-card-content>
            <p> {{ delHTML(articleL.article).slice(0, 130) }}... </p>
        </mat-card-content>
    </mat-card>
</div>

</div>
