
.menu {
    text-align: center;
    color: #3f7eab;
    font-size: 2vw;
    position: relative;
    margin-top: 10vh;
}

.menu span {
    margin-right: 5vw;
    margin-left: 5vw;
    cursor: pointer;
}

.menu-item:hover {
    padding: 0.5vw;
    border: 0.2vw solid #3f7eab;
    border-radius: 0.5vw;
    transition-duration: 200ms;
}
            
.header {
    position: relative;
    margin-top: 30vh; /*Starts us off in the middle vertically*/
    margin-bottom: 30vh;
    text-align: center;

}

.header h1{
    font-size:10vw;
    font-weight: lighter;
    margin-right: 5vh;
    margin-top: 10vh;
    overflow: none;
    color: #3f7eab;
    width: 100%;
    text-shadow: gray 0.1vw 0.1vw 2px;
}

.motto {
    font-family:'Courier New', Courier, monospace;
    font-size:1.5vw;
    color: darkslategray;
}

.spacer {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display:inline-block;
}


#blogs {
    background-color: #3f7eab;
    height: 90vh;
}

#blogs h1 {
    text-align: center;
    font-size:5vw;
    font-weight: lighter;
    margin-right: 5vh;
    margin-top: 5vh;
    overflow: none;
    color: rgb(240, 240, 240);
    width: 100%;
}

.blog-link {
    cursor: pointer;
}

.blog-carousel-space {
    display: flex;
    /*align-items: center;*/ /*Y axis*/
    justify-content: center; /*X axis*/
    height: 30vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.blog-card {
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    max-width: 20vw;
    min-width: 12vw;
    padding: 1vw;
    height: 20vw;
    overflow: auto;
}

.blog-card-image {
    background-size: cover;
    height: 20vh;
    object-fit: cover;
    object-position: left top;
}

.blog-link {
    cursor: pointer;
}

#about {
    height: 70vh;
}

#about h2 {
    text-align: center;
    font-size:5vw;
    font-weight: lighter;
    margin-right: 5vh;
    margin-top: 5vh;
    overflow: none;
    color: #3f7eab;
    width: 100%;
    text-shadow: gray 0.1vw 0.1vw 2px;
}

.small-header {
    position: relative;
    margin-top: 10vh; /*Starts us off in the middle vertically*/
    margin-bottom: 5vh;
    text-align: center;
}

.small-header p {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1vw;
}

#footer {
    background-color: #3f7eab;   
    height: 10vh;
}