<div [ngClass]="menuClass">
    <span class="menu-item" [routerLink]='"."' [fragment]='"blogs"'>Blog</span><span class="menu-item" [routerLink]='"."' [fragment]='"about"'>About</span><span class="menu-item" (click)="openDialog()">Search</span>
</div>
<div [ngClass]="headerClass">
    <h1>Brian Venter</h1>
    <span [ngClass]="mottoClass">copper to cloud communications</span>
    <span [ngClass]="spacerClass"></span>
</div>

<div id="blogs">
    <br><br>
    <h1>Latest blog posts <mat-icon class="blog-link" [routerLink]='"/blog"' matTooltip="Browse all blogs">launch</mat-icon></h1>
    <br>
    <div class="blog-carousel-space">
        <mat-card *ngFor="let latest of latest" class="blog-card">
            <mat-card-header>
                <mat-card-title [routerLink]='"../blog/" + latest.id' class="blog-link" matTooltip={{latest.themeText}}>{{ latest.themeText }}</mat-card-title>
                <mat-card-subtitle>{{ latest.summary }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{latest.themePic}} alt="" class="blog-card-image">
            <mat-card-content>
                <p> {{ delHTML(latest.article).slice(0, 130) }}... </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div id="about">
    <br><br>
    <div class="small-header">
        <h2>About me</h2>
            <p>I have been involved from the ground up in telecommunications, starting as an apprentice and doing copper cabling for PBX and LAN installations. 
                I have worked on enterprise communications systems like the Ericsson MD110 up to its present form: Mitel's MXONE. SIP has supplanted H.323, IP 
                has replaced TDM, and proprietary hardware has given way to containers: communication technology has moved from copper to cloud, and it has not 
                always been predictable.
            </p>
            <p>
                I currently consult for companies desiring to implement full collaboration solutions and contact centers. I run my own matrix homeserver, dabble 
                in web development - previously with LAMP, but more recently with Angular, Echo and ArangoDB - and continually look to improve my programming 
                ability. In between are many things which catch my curiosity. This blog records these digital encounters.
            </p>
        </div>
</div>

<div id="footer">
</div>
